# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / logs
.pytest_cache/
*.log

# Virtual Environments
.venv/
venv/
ENV/
env/

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
